var memberStatus = function(member,status){
    var state = "任务中";
    for(var i = 0;i<status.length;i++){
        if(member.id === status[i].u_id){
            st = status[i].user_status;
            if(st === 0){
                state = "已请假";
            }else if(st===2){
                state = "已完成"
            }else {}
            break;
        }
    }
    console.log("user_status",state);
    return state;
}


module.exports = memberStatus;